<% include partials/header.ejs %>

    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href=""><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Trần Huỳnh</h5>
          <li class="mt">
            <a class="active" href="/index.html">
              <i class="fa fa-dashboard"></i>
              <span>Thay Đổi Thông  Tin Cá Nhân</span>
              </a>
          </li>
          <li class="mt">
            <a href="/manage_order">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý đơn đặt hàng</span>
              </a>
          </li>
          <li class="mt">
            <a href="topten">
              <i class="fa fa-dashboard"></i>
              <span>Top 10 Bán Chạy</span>
              </a>
          </li>
          <li class="mt">
            <a href="/change_inforuser">
              <i class="fa fa-dashboard"></i>
              <span>Chỉnh sửa thông tin người dùng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_acount">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý tài khoản người dùng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_store">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý hệ thống gian hàng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_product">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý sản phẩm</span>
              </a>
          </li>
          <li class="mt">
            <a href="statics">
              <i class="fa fa-dashboard"></i>
              <span>Thống kê doanh số</span>
              </a>
          </li>
          </ul>
          
         
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> WEBSITE QUẢN TRỊ</h3>
        <div class="row mt">
          <div class="col-lg-12">
            <p>Hello World!</p>
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!--main content end-->
    <!--footer start-->
    <% include partials/footer.ejs %>