<% include partials/header.ejs %>

    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href=""><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Trần Huỳnh</h5>
          <li class="mt">
            <a class="active" href="/index.html">
              <i class="fa fa-dashboard"></i>
              <span>Thay Đổi Thông  Tin Cá Nhân</span>
              </a>
          </li>
          <li class="mt">
            <a href="/manage_order">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý đơn đặt hàng</span>
              </a>
          </li>
          <li class="mt">
            <a href="topten">
              <i class="fa fa-dashboard"></i>
              <span>Top 10 Bán Chạy</span>
              </a>
          </li>
          <li class="mt">
            <a href="/change_inforuser">
              <i class="fa fa-dashboard"></i>
              <span>Chỉnh sửa thông tin người dùng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_acount">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý tài khoản người dùng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_store">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý hệ thống gian hàng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_product">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý sản phẩm</span>
              </a>
          </li>
          <li class="mt">
            <a href="statics">
              <i class="fa fa-dashboard"></i>
              <span>Thống kê doanh số</span>
              </a>
          </li>
          </ul>
          
         
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <h4><i class="fa fa-angle-right"></i> Thay Đổi Thông Tin Cá Nhân</h4>
            <div class="form-panel">
              <div class="form">
                <form class="cmxform form-horizontal style-form" id="signupForm" method="get" action="">
                  <div class="form-group ">
                    <label for="firstname" class="control-label col-lg-2">Họ</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="firstname" name="firstname" type="text" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="lastname" class="control-label col-lg-2">Tên</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="lastname" name="lastname" type="text" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="username" class="control-label col-lg-2">Tên Đăng Nhập</label>
                    <div class="col-lg-10">
                      <input class="form-control " id="username" name="username" type="text" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="password" class="control-label col-lg-2">Mật Khẩu</label>
                    <div class="col-lg-10">
                      <input class="form-control " id="password" name="password" type="password" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="confirm_password" class="control-label col-lg-2">Nhập Lại Mật Khẩu</label>
                    <div class="col-lg-10">
                      <input class="form-control " id="confirm_password" name="confirm_password" type="password" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="email" class="control-label col-lg-2">Email</label>
                    <div class="col-lg-10">
                      <input class="form-control " id="email" name="email" type="email" />
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit">Lưu</button>
                      <button class="btn btn-theme04" type="button">Hủy</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!--main content end-->
    <!--footer start-->
    <% include partials/footer.ejs %>