<% include partials/header.ejs %>

    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href=""><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Trần Huỳnh</h5>
          <li class="mt">
            <a  href="index.html">
              <i class="fa fa-dashboard"></i>
              <span>Thay Đổi Thông  Tin Cá Nhân</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_order">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý đơn đặt hàng</span>
              </a>
          </li>
          <li class="mt">
            <a href="topten">
              <i class="fa fa-dashboard"></i>
              <span>Top 10 Bán Chạy</span>
              </a>
          </li>
          <li class="mt">
            <a href="change_inforuser">
              <i class="fa fa-dashboard"></i>
              <span>Chỉnh sửa thông tin người dùng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_acount">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý tài khoản người dùng</span>
              </a>
          </li>
          <li class="mt">
            <a class="active" href="manage_store">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý hệ thống gian hàng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_product">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý sản phẩm</span>
              </a>
          </li>
          <li class="mt">
            <a href="statics">
              <i class="fa fa-dashboard"></i>
              <span>Thống kê doanh số</span>
              </a>
          </li>
          </ul>
          
         
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Quản Lý Hệ Thống Gian Hàng</h3>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Gian hàng</h4>
              <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>Mã</th>
                      <th>Nhà cung cấp</th>
                      <th class="numeric">Doanh số</th>
                      <th class="numeric">Doanh thu</th>
                      <th class="numeric">Tăng trưởng</th>
                      <th class="numeric">Chi phí bảo hành</th>
                      <th class="numeric">Chi phí hoa hồng</th>
                      <th class="numeric">Chi phí hao hụt tự nhiên</th>
                      <th class="numeric">Lợi nhuận </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>AAC</td>
                      <td>Công ty Gấu bông</td>
                      <td class="numeric">1456</td>
                      <td class="numeric">1234</td>
                      <td class="numeric">5%</td>
                      <td class="numeric">123546</td>
                      <td class="numeric">2346559</td>
                      <td class="numeric">415656</td>
                      <td class="numeric">1234568</td>
                    </tr>
                    <tr>
                      <td>AAD</td>
                      <td>Công ty Khóa đồ chơi</td>
                      <td class="numeric">23466</td>
                      <td class="numeric"> 12132</td>
                      <td class="numeric">3.25%</td>
                      <td class="numeric">1231356</td>
                      <td class="numeric">66565</td>
                      <td class="numeric">56256</td>
                      <td class="numeric">2312545</td>
                    </tr>
                    <tr>
                      <td>AAX</td>
                      <td>Công ty TNHH An An</td>
                      <td class="numeric">1462562</td>
                      <td class="numeric">65656</td>
                      <td class="numeric">-7.9%</td>
                      <td class="numeric">26325652</td>
                      <td class="numeric">565652</td>
                      <td class="numeric">232323</td>
                      <td class="numeric">3656656</td>
                    </tr>
                    <tr>
                      <td>ABC</td>
                      <td>Tập đoàn Đồ chơi trẻ em</td>
                      <td class="numeric">8478465</td>
                      <td class="numeric"> 454656</td>
                      <td class="numeric">2.04%</td>
                      <td class="numeric">232632</td>
                      <td class="numeric">3146556</td>
                      <td class="numeric">13262</td>
                      <td class="numeric">8622518</td>
                    </tr>
                    <tr>
                      <td>ABP</td>
                      <td>Nhà cung cấp đồ chơi</td>
                      <td class="numeric">462362</td>
                      <td class="numeric">6256</td>
                      <td class="numeric">-0.5%</td>
                      <td class="numeric">2659987</td>
                      <td class="numeric">546562</td>
                      <td class="numeric">62562</td>
                      <td class="numeric">595656701</td>
                    </tr>
                    <tr>
                      <td>ABY</td>
                      <td>Công ty Hòa Hưng</td>
                      <td class="numeric">264512</td>
                      <td class="numeric"> 65562</td>
                      <td class="numeric">2.00%</td>
                      <td class="numeric">62362323</td>
                      <td class="numeric">9515212</td>
                      <td class="numeric">546526</td>
                      <td class="numeric">546995626</td>
                    </tr>
                    <tr>
                      <td>ACR</td>
                      <td>Công Ty Mẹ và Bé</td>
                      <td class="numeric">15451521</td>
                      <td class="numeric"> 5215566</td>
                      <td class="numeric">0.14%</td>
                      <td class="numeric">6263232</td>
                      <td class="numeric">2512151</td>
                      <td class="numeric">265656</td>
                      <td class="numeric">1916465656</td>
                    </tr>
                    <tr>
                      <td>ADU</td>
                      <td>Nhà cung cấp gấu teddy</td>
                      <td class="numeric">66265</td>
                      <td class="numeric">52632</td>
                      <td class="numeric">0.025%</td>
                      <td class="numeric">644595</td>
                      <td class="numeric">61611323</td>
                      <td class="numeric">263623</td>
                      <td class="numeric">854602291</td>
                    </tr>
                    <tr>
                      <td>AGG</td>
                      <td>Công ty Angolo</td>
                      <td class="numeric">65623</td>
                      <td class="numeric">51112</td>
                      <td class="numeric">-2.74%</td>
                      <td class="numeric">6232323</td>
                      <td class="numeric">263236565</td>
                      <td class="numeric">1212321545</td>
                      <td class="numeric">61233223295948</td>
                    </tr>
                    <tr>
                      <td>AGK</td>
                      <td>Nhà cung cấp Angry</td>
                      <td class="numeric">12121</td>
                      <td class="numeric"> 3232656</td>
                      <td class="numeric">0.14%</td>
                      <td class="numeric">0154623</td>
                      <td class="numeric">12154502</td>
                      <td class="numeric">65662</td>
                      <td class="numeric">8461212403</td>
                    </tr>
                    <tr>
                      <td>AGO</td>
                      <td>Nhà cung cấp IRON</td>
                      <td class="numeric">12323</td>
                      <td class="numeric">3266562</td>
                      <td class="numeric">3.04%</td>
                      <td class="numeric">62565</td>
                      <td class="numeric">4656565</td>
                      <td class="numeric">26323</td>
                      <td class="numeric">512416303</td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-lg-4 -->
        </div>
        <!-- /row -->
        
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>TranHuynh</strong>
        </p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
          Created template by <a href="https://templatemag.com/">TranHuynh</a>
        </div>
        <a href="index.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="lib/jquery.scrollTo.min.js"></script>
  <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="lib/common-scripts.js"></script>
  <!--script for this page-->
</body>

</html>
