<% include partials/header.ejs %>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    
 
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href=""><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Trần Huỳnh</h5>
          <li class="mt">
            <a  href="index.html">
              <i class="fa fa-dashboard"></i>
              <span>Thay Đổi Thông  Tin Cá Nhân</span>
            </a>
          </li>
          <li class="mt">
            <a href="manage_order">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý đơn đặt hàng</span>
              </a>
          </li>
          <li class="mt">
            <a href="topten">
              <i class="fa fa-dashboard"></i>
              <span>Top 10 Bán Chạy</span>
              </a>
          </li>
          <li class="mt">
            <a  href="change_inforuser">
              <i class="fa fa-dashboard"></i>
              <span>Chỉnh sửa thông tin người dùng</span>
              </a>
          </li>
          <li class="mt">
            <a class="active" href="manage_acount">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý tài khoản người dùng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_store">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý hệ thống gian hàng</span>
              </a>
          </li>
          <li class="mt">
            <a href="manage_product">
              <i class="fa fa-dashboard"></i>
              <span>Quản lý sản phẩm</span>
              </a>
          </li>
          <li class="mt">
            <a href="statics">
              <i class="fa fa-dashboard"></i>
              <span>Thống kê doanh số</span>
              </a>
          </li>
          </ul>
      
         
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Quản lý tài khoản người dùng</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Người dùng tích cực</h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>HỌ</th>
                    <th>TÊN</th>
                    <th>TÊN ĐĂNG NHẬP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Trần</td>
                    <td>Nguyễn</td>
                    <td>@nguyendo</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Trần</td>
                    <td>Huỳnh</td>
                    <td>@huynhtran</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Nguyệt</td>
                    <td>Nguyễn</td>
                    <td>@nguyennguyen</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /col-md-12 -->
          <div class="col-md-12 mt">
            <div class="content-panel">
              <table class="table table-hover">
                <h4><i class="fa fa-angle-right"></i> Người dùng mới đăng ký gần đây</h4>
                <hr>
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>HỌ</th>
                    <th>TÊN</th>
                    <th>TÊN ĐĂNG NHẬP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Công</td>
                    <td>Toàn</td>
                    <td>@toancong</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Thu</td>
                    <td>Hương</td>
                    <td>@faaat</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>An</td>
                    <td>Sơn</td>
                    <td>@anan</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- row -->
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Thông tin chi tiết về tài khoản</h4>
                <hr>
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i> Tên đăng nhập </th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Mô tả</th>
                    <th><i class="fa fa-bookmark"></i> Đã mua</th>
                    <th><i class=" fa fa-edit"></i> Cảm nhận</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="manage_acount#">@nguyetnguyen</a>
                    </td>
                    <td class="hidden-phone">Là mẹ đơn thân</td>
                    <td>1.200.000 VNĐ </td>
                    <td><span class="label label-info label-mini">Tốt</span></td>
                    <td>
                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="manage_acount#">
                        @nguyendo
                        </a>
                    </td>
                    <td class="hidden-phone">Người anh mẫu mực</td>
                    <td>1.790.000 VNĐ </td>
                    <td><span class="label label-warning label-mini">Khá</span></td>
                    <td>
                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="manage_acount#">
                        @huynhtran
                        </a>
                    </td>
                    <td class="hidden-phone">Người bố đảm đang</td>
                    <td>1.440.000 VNĐ </td>
                    <td><span class="label label-success label-mini">Tốt</span></td>
                    <td>
                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="manage_acount#">@toancong</a>
                    </td>
                    <td class="hidden-phone">Anh chàng ga lăng</td>
                    <td>2.200.000 VNĐ </td>
                    <td><span class="label label-success label-mini">Tốt</span></td>
                    <td>
                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="manage_acount#">@huongdang</a>
                    </td>
                    <td class="hidden-phone">Quý cô già nua</td>
                    <td>1.212.000$ </td>
                    <td><span class="label label-warning label-mini">Khá</span></td>
                    <td>
                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->
      </section>
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
  
<% include partials/footer.ejs %>
